<% include ./partials/header %>
<div class="super_container_inner">
	<div class="super_overlay"></div>

	<!-- Home -->

	<div class="home">
		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url(images/home.jpg)"></div>
					<div class="container fill_height">
						<div class="row fill_height">
							<div class="col fill_height">
								<div class="home_container d-flex flex-column align-items-center justify-content-start">
									<div class="home_content">
										<div class="home_title">Best Sellers</div>
										<div class="home_subtitle">Books Festival</div>
										<div class="home_items">
											<div class="row">
												<div class="col-sm-3 offset-lg-1">
													<div class="home_item_side"><a href="product.html"><img
																src="/images/alchem.jpg" alt=""></a></div>
												</div>
												<div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
													<div class="product home_item_large">
														<div style="width: 80px;height: 80px;"
															class="product_tag d-flex flex-column align-items-center justify-content-center">
															<div>
																<div>from</div>
																<div style="font-size:15px;">₹200</div>
															</div>
														</div>
														<div class="product_image"><img src="/images/meluha.jpg" alt="">
														</div>
														<div class="product_content">
															<div
																class="product_info d-flex flex-row align-items-start justify-content-start">
																<div>
																	<div>
																		<div class="product_name"><a
																				href="product.html">Cool Clothing with
																				Brown Stripes</a></div>
																		<div class="product_category">In <a
																				href="category.html">Category</a></div>
																	</div>
																</div>
																<div class="ml-auto text-right">
																	<div class="rating_r rating_r_4 home_item_rating">
																		<i></i><i></i><i></i><i></i><i></i></div>
																	<div class="product_price text-right">
																		$3<span>.99</span></div>
																</div>
															</div>
															<div class="product_buttons">
																<div
																	class="text-right d-flex flex-row align-items-start justify-content-start">
																	<div
																		class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
																		<div>
																			<div><img src="images/heart.svg" alt="">
																				<div>+</div>
																			</div>
																		</div>
																	</div>
																	<div
																		class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
																		<div>
																			<div><img src="images/cart_2.svg" alt="">
																				<div>+</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="home_item_side"><a href="product.html"><img
																src="/images/rich.jpg" alt=""></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url(images/home1.jpg)"></div>
					<div class="container fill_height">
						<div class="row fill_height">
							<div class="col fill_height">
								<div class="home_container d-flex flex-column align-items-center justify-content-start">
									<div class="home_content">
										<div class="home_title">New Arrivals</div>
										<div class="home_subtitle">Season Sale</div>
										<div class="home_items">
											<div class="row">
												<div class="col-sm-3 offset-lg-1">
													<div class="home_item_side"><a href="product.html"><img
																src="images/img.jpg" alt=""></a></div>
												</div>
												<div class="col-lg-4 col-md-6 col-sm-8 offset-sm-2 offset-md-0">
													<div class="product home_item_large">
														<div style="width: 80px;height: 80px;"
															class="product_tag d-flex flex-column align-items-center justify-content-center">
															<div>
																<div>from</div>
																<div style="font-size: 15px;">₹249</div>
															</div>
														</div>
														<div class="product_image"><img src="images/power.jpg" alt="">
														</div>
														<div class="product_content">
															<div
																class="product_info d-flex flex-row align-items-start justify-content-start">
																<div>
																	<div>
																		<div class="product_name"><a
																				href="product.html">Cool Clothing with
																				Brown Stripes</a></div>
																		<div class="product_category">In <a
																				href="category.html">Category</a></div>
																	</div>
																</div>
																<div class="ml-auto text-right">
																	<div class="rating_r rating_r_4 home_item_rating">
																		<i></i><i></i><i></i><i></i><i></i></div>
																	<div class="product_price text-right">
																		$3<span>.99</span></div>
																</div>
															</div>
															<div class="product_buttons">
																<div
																	class="text-right d-flex flex-row align-items-start justify-content-start">
																	<div
																		class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
																		<div>
																			<div><img src="images/heart.svg" alt="">
																				<div>+</div>
																			</div>
																		</div>
																	</div>
																	<div
																		class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
																		<div>
																			<div><img src="images/cart_2.svg" alt="">
																				<div>+</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="home_item_side"><a href="product.html"><img
																src="images/wimpy.jpg" alt=""></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>



			</div>
			<div class="home_slider_nav home_slider_nav_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i>
			</div>
			<div class="home_slider_nav home_slider_nav_next"><i class="fa fa-chevron-right" aria-hidden="true"></i>
			</div>

			<!-- Home Slider Dots -->

			<div class="home_slider_dots_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_slider_dots">
								<ul id="home_slider_custom_dots"
									class="home_slider_custom_dots d-flex flex-row align-items-center justify-content-center">
									<li class="home_slider_custom_dot active">01</li>
									<li class="home_slider_custom_dot">02</li>
									<li class="home_slider_custom_dot">03</li>
									<li class="home_slider_custom_dot">04</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Products -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="section_title text-center">Popular on BookCart</div>
				</div>
			</div>
			<div class="row page_nav_row">
				<div class="col">
					<div class="page_nav">
						<ul class="d-flex flex-row align-items-start justify-content-center">
							<li class="active"><a>Fiction</a></li>
							<li><a >Non-Fiction</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row products_row">

				<!-- Product -->
				<% for(var i=0;i<n;i++){ %>
				<div class="col-xl-4 col-md-6">
					<div class="product">
						<div class="product_image"><img style="width: -webkit-fill-available;" src="<%= result[i].p_photo %>" onerror="this.src='../images/err.jpg'" alt=""></div>
						<div class="product_content">
							<div class="product_info d-flex flex-row align-items-start justify-content-start">
								<div>
									<div>
										<div class="product_name"><a
												href="/book/<%= result[i].p_id %>"><%= result[i].p_name %></a></div>
										<!-- <div class="product_category">In <a href="category.html">Category</a></div> -->
									</div>
								</div>
								<div class="ml-auto text-right">
									<div id="rating" class="rating_r rating_r_<%= result[i].review.toFixed(0) %>  home_item_rating">
										<i></i><i></i><i></i><i></i><i></i></div>
									<div class="product_price text-right">₹<%= result[i].p_price %><span>.00</span>
									</div>
								</div>
							</div>
							<!-- <div class="product_buttons">
								<div class="text-right d-flex flex-row align-items-start justify-content-start">
									
									
									<div onclick="location.href='/addtowish/<%= result[i].p_id %>'"
										class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
										<div>
											<div><img src="images/heart_2.svg" class="svg" alt="">
												<div>+</div>
											</div>
										</div>
									</div>
									<div onclick="location.href='/addtocart/<%= result[i].p_id %>'"
										class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
										<div>
											<div><img src="images/cart.svg" class="svg" alt="">
												<div>+</div>
											</div>
										</div>
									</div>
									

								</div>
							</div> -->
						</div>
					</div>
				</div>
				<% } %>

	

			</div>
			<!-- <div class="row load_more_row">
				<div class="col">
					<div class="button load_more ml-auto mr-auto"><a href="#">load more</a></div>
				</div>
			</div> -->
		</div>
	</div>


	<% include ./partials/footer %>